@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
.brand-logo {
  margin-top: 60px;
  margin-left: 100px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("Images/Background.png");
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Inter", sans-serif;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 528px;
  height: 441px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 12px;

  text-align: center;
}
form {
  padding: 40px 80px;
}
form > h1 {
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  color: #343434;
  margin: 20px 41px 40px 41px;
}
label {
  display: flex;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}
input[type="email"],
input[type="password"],
input[type="text"] {
  width: 368px;
  height: 37px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 1px solid #ced4da;
}
.form-inputs input[type="password"] {
  position: relative;
}
#eye-icon {
  position: absolute;
  left: 60%;
  top: 70%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px;
}
::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

button[type="submit"] {
  width: 100%;
  height: 38px;
  padding: 10px;
  background: #3766e8;
  border-radius: 4px;
  color: #fff;
  border: none;
  cursor: pointer;
}

button[type="button"]:hover {
  background-color: #3e8e41;
}

h1 {
  margin-bottom: 20px;
}
.footer {
  margin-top: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}
.footer > p > a {
  color: #3766e8;
}
.footer > :nth-child(2) {
  color: #545454;
}
